.messages
  = render @messages

.chat-main
  .chat-main__message-info
    .chat-main__message-info__group
      %p.chat-main__message-info__group__text
        = @group.name
      - @group.users.each do |user|
        %p.chat-main__message-info__group__member
          = user.name
          
    .chat-main__message-info__edit
      =link_to edit_group_path(current_user) do
        Edit

  .chat-main__message-list
    .chat-main__message-list__one
      %p.chat-main__message-list__one__name
        masa
      %p.chat-main__message-list__one__date
        2019/11/20(Wed) 17:43:01
    .chat-main__message-list__text
      おはよう！
    .chat-main__message-list__two
      %p.chat-main__message-list__two__names
        masa
      %p.chat-main__message-list__two__dates
        2019/11/20(Wed) 17:43:34
    .chat-main__message-list__texts
      今日は夜から雨

  .form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          =icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}
      
